* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  justify-content: center;
  height: 100vh;
  background: url(./background-pic.jpg);
}

.inputField {
  flex: 1;
  height: 25px;
  margin: 1rem;
}

.passwordField {
  flex: 1;
  height: 25px;
  margin: 1rem;
}

.inputwidth {
  width: 20vw;
  height: 3.5vh;
}

#signup-title {
  padding: 0 0 0 1em;
}
.bookCard {
  float: left;
}
.alert-box {
  text-align: center;
  color: #721c24;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}
.btn {
  margin: auto;
  padding: 0.5em;
  border-radius: 10px;
  background-color: rgba(41, 74, 105, 1);
  color: white;
  text-align: center;
  font-weight: bold;
  width: 20vw;
}
.btn:hover {
  cursor: pointer;
}
