* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  justify-content: center;
  height: 100vh;
  background-color: #9fb7cd;
  background: url(./background-pic.jpg);
}

#titleBar {
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  display: inline-block;
  background-color: #0b3961;
  z-index: 1;
}

.bar {
  float: right;
  font-size: 13px;
  z-index: -1;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 25px 25px 40px 50px;
}
.bar a {
  font-family: arial;
  font-size: 13px;
  color: white;
  z-index: 2;
  position: relative;
}

.loginContainer {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  height: 500px;
  border-radius: 40px;
  margin: auto;
  padding: 1em;
}
.signIn {
  margin: 5em;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  justify-content: space-between;
  margin: 10px;
}

.passwordField {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.signupBox {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 1.7em;
}

.bookCard {
  float: left;
}
.alert-box {
  padding: 5em;
}
.review-input {
  width: 100%;
  height: 20em;
}
.page-input {
  float: right;
}
.date-page {
  margin: 2em;
}
.review-input-btn {
  margin: 2em;
}
.window {
  width: 20em;
}
