* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9fb7cd;
}

#titleBar {
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  border-bottom: solid 4px #0f4c81;
  display: grid;
  place-items: center;
  display: inline-block;
  background-color: #f8efe1;
}

.barBox {
  display: inline-block;
  vertical-align: middle;
}

.bar {
  float: right;
  margin: 1em;
  background-color: #e8a188;
  border-radius: 4px;
}

.loginContainer {
  margin-top: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  flex: 1;
  justify-content: space-between;
  margin: 10px;
}

.passwordField {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.signupBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 30rem;
  margin: 20px;
}

.bookCard {
  float: left;
}
